[Unit]
Description=Idokep station
Wants=network-online.target
After=network.target network-online.target

[Service]
ExecStart=/home/pi/idokep/idokep.py
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
