[Unit]
Description=Idokep station

[Service]
ExecStart=/home/pi/idokep/idokep.py
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
